.resetStyles {
	all: unset;
}

.buttonPadding18 {
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;
}

.buttonPadding24 {
	padding-left: 2.4rem !important;
	padding-right: 2.4rem !important;
}

.filterShadow {
	box-shadow: 0px 4px 30px rgba(214, 214, 214, 0.19);
}
