.resetStyles {
	all: unset;
}

.buttonPadding18 {
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;
}

.buttonPadding24 {
	padding-left: 2.4rem !important;
	padding-right: 2.4rem !important;
}
