.map-marker {
	background-image: url("./assets/map-marker-blue.svg");
	background-size: cover;
	width: 16px;
	height: 22px;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}
