.inputInvalid {
	background-color: #fee2e2 !important;

	&:hover {
		background-color: #fecaca !important;
	}

	&:focus {
		background-color: #fecaca !important;
	}
}

.submitButtonInvalid {
	pointer-events: none !important;
}

.button-disabled {
	pointer-events: none !important;
}
