.circleShadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.circleAnimation:hover {
	transform: translateY(-14%) scale(1);
}

.circleAnimation:active {
	transform: translateY(-14%) scale(0.8);
}